.header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 0;
}
.upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-btn > button {
    margin: 2%;
    /* margin-top: 0; */
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
